* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.keystore binary
benvis/linux/**   text eol=lf
benvis/macos/**   text eol=lf
benvis/windows/** text eol=lf